table td.narrow
{
	max-width: 50px;
}

#login 
{
	max-width: 50%;
}

.btn-login
{
	margin: 5px 0;
}

#container
{
	width: 80%;
	margin: 0 auto;
}

#header
{
	text-align: center;
}

nav.navbar
{
	border: 1px solid #dbdbdb;
}

.navbar li
{
	border-left: 1px solid #ccc;
}

.navbar li:first-child { border-left: none; }
.edit-box
{
	position: relative;
	margin: 0 auto;
}

div.clear { clear:both;float:none }

table li a:hover { color: #ff533e; }